// ==============================
//  footer
// ==============================

@use 'setting' as *;


// ---------- footer ----------
.footer {
  width: 100%;
  color: #fff;
  background-color: var(--color-primary);
  &__copyright {
    width: 100%;
    padding-block: 0.75em;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: center;
    small {
      font-size: inherit;
    }
  }
}


// ---------- button ----------
.footer-button {
  position: fixed;
  bottom: -60px;
  right: 30px;
  width: 50px;
  height: 50px;
  transition: bottom 0.2s;
  z-index: $z-footer-button;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    color: var(--color-primary);
    background-color: var(--color-bg);
    @include mq-hover {
      transition: all 0.2s;
      &:hover {
        color: #fff;
        background: var(--color-primary);
      }
    }
  }
  svg {
    width: 1em;
    height: 1em;
    fill: currentColor;
  }
  &[data-scrolled=true] {
    bottom: 30px;
  }
}

.scroll-observer {
  position: absolute;
  top: 200px;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  visibility: hidden;
  pointer-events: none;
  z-index: $z-scroll-observer;
}